#banner{
  text-align: center;
  background-image: url("images/templebar.jpg");
  opacity: 0.8;
  background-size: cover;
  padding: 150px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

body{
  background: rgb(255,255,255);
  color: black;
  font-size: 12px;
  font-family: Georgia;
}
h1{
  font-family: Perpetua titling mt, caps;
  color: white;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

#subtitle{
  font-family: Chalkduster, fantasy;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}


h2 {
  font-family: Goudy Old Style;
  color: rgb(33,153,67);
  font-weight: bold;
  font-size: 20px;

}

a {
  color: black;
}
a:hover {
  text-decoration: none;
  color: purple;
}

.card{
  padding: 100px;
  text-align: center;
}

.ucd{
  padding: 75px;
  text-align: center;
}

.train{
  padding: 50px;
  text-align: center;
}

.femme{
  padding: 60px;
  text-align: center;
}

.btn btn-info btn-lg{
  color: rgb(33,153,67);
}